@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

body::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

#hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background: rgb(0,123,255);
  background: linear-gradient(90deg, rgba(0,123,255,1) 35%, rgba(0,212,255,1) 100%);
}

#hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rainbow {
  background: linear-gradient(to right, #0B3142, #00BD9D, #23CE6B, #FFC857, #F2DC5D, #F7717D, #ED6A5E, #592941);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
